#mainNav {
  background-color: #000000 !important;
  color: #000000 !important;
}
.bg-tube {
  background-color: #b9bbbe;
}
.bg-black {
  background-color: black;
}

.title_articles {
  text-decoration: none;
  color: #f05f40;
}

.title_articles:hover {
  text-decoration: none !important;
}

.comment_button {
  color: black !important;
  background-color: #f05f40;
}

.comment_button:hover {
  color: #f05f40;
  background-color: #b9bbbe;
}

hr {
  width: 100% !important;;
  margin-top: 2px;
}
